/* INDEX */
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--sky-900) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--cyan-900) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trend-900) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trend-700) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trend-900) }
nav.theme-dark ul.links-wrapper li a:link,
nav.theme-dark ul.links-wrapper li a:visited { color: var(--green-200) }
nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active { color: var(--cyan-600) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { color: var(--green-200) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { border-color: var(--trend-700) }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { border-color: var(--green-200) }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { border-color: var(--trend-700) }
header.theme-dark h1 { color: var(--white-000) }
header.theme-dark h2 { color: var(--white-000) }
header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { background-color: var(--cyan-800) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: var(--cyan-600) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { border-color: var(--cyan-600) }

header.hero-bg .container-media .container-overlay-1 { background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); } 

.brand {
    width: 8%;
    height: auto;
}


/* INDEX */
.section-selector-1.theme-dark { background-image: url(/assets/img/ceu4.png) }
.section-selector-1.theme-dark .col-3 { border-color: var(--cyan-500) }
.section-selector-1.theme-dark .cols-background .col-3 { background-image: url(/assets/img/ceu3.png); }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: var(--white-000) }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { color: var(--white-000) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: var(--trend-700) }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { border-color: var(--cyan-500) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { border-color: var(--trend-700) }

.section-selector-1 div[class^='flex-cols-'] div[class^='col-'] figure.icon { color: var(--green-200) }


footer.theme-dark > ul.footer-links li a:link,
footer.theme-dark > ul.footer-links li a:visited { color: var(--cyan-700) }

footer.theme-dark > ul.footer-links li a:link,
footer.theme-dark > ul.footer-links li a:visited { text-decoration-color: var(--cyan-700) }

footer.theme-dark > ul.footer-icons li a:link i,
footer.theme-dark > ul.footer-icons li a:visited i { color: var(--cyan-700) }

footer.theme-dark > ul.footer-icons li a:focus i,
footer.theme-dark > ul.footer-icons li a:hover i,
footer.theme-dark > ul.footer-icons li a:active i { color: var(--green-200) }

footer.theme-dark > ul.footer-links li a:focus,
footer.theme-dark > ul.footer-links li a:hover,
footer.theme-dark > ul.footer-links li a:active { color: var(--green-200) }

footer.theme-dark > ul.footer-links li a:focus,
footer.theme-dark > ul.footer-links li a:hover,
footer.theme-dark > ul.footer-links li a:active { text-decoration-color: var(--green-200) }

footer.theme-dark .copyright p { color: var(--cyan-700) }
footer.theme-dark .copyright { background-color: var(--trend-900) }
footer.theme-dark { background-color: var(--trend-900) }

/* Introduction */
.section-selector-1-1.theme-dark { background-color: var(--trend-900) }
.section-selector-1-1 .col-1-badge { background-color: var(--cyan-700) }
.section-selector-1-1 .col-1 h3 { color: var(--white-000) }
.section-selector-1-1 .col-1-badge { color: var(--white-000) }
.section-selector-1-1 .col-2 h3 { color: #07a3a3  }
.section-selector-1-1.theme-dark .cols-background .col-2 { background-color: var(--trend-900)  }
.theme-dark.section-selector-1-1 .col-2 { border-color: var(--cyan-700) }

/* Introduction */
.section-selector-2.theme-dark { background-color: var(--trend-800) }
.section-selector-2 .col-1-badge { color: var(--white-000) }
.section-selector-2 .col-1-badge { background-color: var(--cyan-700) }
.section-selector-2 .col-4 .badge { color: var(--slate-700) }
.section-selector-2 .col-4 .badge { background-color: var(--trend-800) }
.section-selector-2 .col-4 li::marker,
.section-selector-2 .col-4 ul.fa-ul li span.fa-li i { color: var(--white-000) }
.section-selector-2 .col-4 h3 { color: #07a3a3  }
.section-selector-2.theme-dark .cols-background .col-4 { background-color: var(--trend-800)}
.section-selector-2.theme-dark .col-4 { border-color: var(--cyan-700) }

/* Introduction */
.section-selector-3.theme-dark { background-color: var(--trend-900) }
.section-selector-3 .col-3 h3 { color: #07a3a3  }
.section-selector-3.theme-dark .cols-background .col-3 { background-color: var(--trend-900) }
.section-selector-3.theme-dark .col-3 { border-color: var(--cyan-700) }
.section-selector-3 .col-1-badge { color: var(--white-000) }
.section-selector-3 .col-1-badge { background-color: var(--cyan-700) }



header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { background-color: var(--cyan-700) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { border-color: var(--cyan-500) }


header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { background-color: var(--cyan-700)}

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { background-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { border-color: var(--cyan-500) }


header.theme-dark .container-btn a.btn:nth-child(3):link,
header.theme-dark .container-btn a.btn:nth-child(3):visited { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(3):focus,
header.theme-dark .container-btn a.btn:nth-child(3):hover,
header.theme-dark .container-btn a.btn:nth-child(3):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(3):link,
header.theme-dark .container-btn a.btn:nth-child(3):visited { background-color: var(--cyan-700)}

header.theme-dark .container-btn a.btn:nth-child(3):focus,
header.theme-dark .container-btn a.btn:nth-child(3):hover,
header.theme-dark .container-btn a.btn:nth-child(3):active { background-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(3):link,
header.theme-dark .container-btn a.btn:nth-child(3):visited { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(3):focus,
header.theme-dark .container-btn a.btn:nth-child(3):hover,
header.theme-dark .container-btn a.btn:nth-child(3):active { border-color: var(--cyan-500) }


header.theme-dark .container-btn a.btn:nth-child(4):link,
header.theme-dark .container-btn a.btn:nth-child(4):visited { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(4):focus,
header.theme-dark .container-btn a.btn:nth-child(4):hover,
header.theme-dark .container-btn a.btn:nth-child(4):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(4):link,
header.theme-dark .container-btn a.btn:nth-child(4):visited { background-color: var(--cyan-700) }

header.theme-dark .container-btn a.btn:nth-child(4):focus,
header.theme-dark .container-btn a.btn:nth-child(4):hover,
header.theme-dark .container-btn a.btn:nth-child(4):active { background-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(4):link,
header.theme-dark .container-btn a.btn:nth-child(4):visited { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(4):focus,
header.theme-dark .container-btn a.btn:nth-child(4):hover,
header.theme-dark .container-btn a.btn:nth-child(4):active { border-color: var(--cyan-500) }

header.hero-bg > .container-overlay { background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)); } 


.Introduction-text {
    font-size: 22px;
}

/* SUPPORT */
.section-selector-1 { background-color: var(--trend-900) }
.section-selector-4 { background-color: var(--trend-800) }
.theme-dark.section-selector-4 #btn-submit { color: var(--white-000) }
.theme-dark.section-selector-4 #btn-submit { color: var(--white-000) }
.theme-dark.section-selector-4 #btn-submit:focus,
.theme-dark.section-selector-4 #btn-submit:hover,
.theme-dark.section-selector-4 #btn-submit:active { color: var(--white-000) }

.theme-dark.section-selector-4 #btn-submit { background-color: var(--cyan-700) }
.theme-dark.section-selector-4 #btn-submit:focus,
.theme-dark.section-selector-4 #btn-submit:hover,
.theme-dark.section-selector-4 #btn-submit:active { background-color: var(--cyan-500) }

.theme-dark.section-selector-4 #btn-submit { border-color: var(--cyan-500) }
.theme-dark.section-selector-4 #btn-submit:focus,
.theme-dark.section-selector-4 #btn-submit:hover,
.theme-dark.section-selector-4 #btn-submit:active { border-color: var(--cyan-500) }


/* SIGN IN */
.section-selector-1 { background-color: var(--trend-800) }
.section-selector-5 { background-color: var(--trend-800) }
.theme-dark.section-selector-5 #btn-submit { color: var(--white-000) }
.theme-dark.section-selector-5 #btn-submit:focus,
.theme-dark.section-selector-5 #btn-submit:hover,
.theme-dark.section-selector-5 #btn-submit:active { color: var(--white-000) }

.theme-dark.section-selector-5 #btn-submit { background-color: var(--cyan-700) }
.theme-dark.section-selector-5 #btn-submit:focus,
.theme-dark.section-selector-5 #btn-submit:hover,
.theme-dark.section-selector-5 #btn-submit:active { background-color: var(--cyan-500) }

.theme-dark.section-selector-5 #btn-submit { border-color: var(--cyan-500) }
.theme-dark.section-selector-5 #btn-submit:focus,
.theme-dark.section-selector-5 #btn-submit:hover,
.theme-dark.section-selector-5 #btn-submit:active { border-color: var(--cyan-500) }


header.theme-dark { background-color: var(--trend-800) }
header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { background-color: var(--cyan-700) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { background-color: var(--cyan-700) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { background-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { border-color: var(--cyan-500) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { border-color: var(--cyan-500) }
.answer {
    color: white;
    font-style: bold;
    font-size: 20px;
}

.form-row {
    margin-bottom: 20px; /* Espaçamento entre os campos do formulário */
    width: 100%; /* Faz os campos de formulário ocuparem toda a largura do container */
}
.form-footer {
    margin-left: -30px; /* Espaçamento entre os campos do formulário */
    width: 100%; /* Faz os campos de formulário ocuparem toda a largura do container */
}

/* QUESTIONNAIRE */
.section-selector-6 { background-image: url(/assets/img/ceu.jpg) }
.section-selector-6 .col-1-badge { background-color: var(--cyan-700) }
.section-selector-6 .col-1-badge{ color: var(--white-000) }
.theme-dark.section-selector-6 #btn-submit { color: var(--white-000) }
.theme-dark.section-selector-6 #btn-submit:focus,
.theme-dark.section-selector-6 #btn-submit:hover,
.theme-dark.section-selector-6 #btn-submit:active { color: var(--white-000) }

.theme-dark.section-selector-6 #btn-submit { background-color: var(--cyan-700) }
.theme-dark.section-selector-6 #btn-submit:focus,
.theme-dark.section-selector-6 #btn-submit:hover,
.theme-dark.section-selector-6 #btn-submit:active { background-color: var(--cyan-500) }

.theme-dark.section-selector-6 #btn-submit { border-color: var(--cyan-500) }
.theme-dark.section-selector-6 #btn-submit:focus,
.theme-dark.section-selector-6 #btn-submit:hover,
.theme-dark.section-selector-6 #btn-submit:active { border-color: var(--cyan-500) }

.cols-4-half h2 { color: #07a3a3 }



/* RESULTS */
.section-selector-7.theme-dark { background-image: url(/assets/img/ceu.jpg); }
.section-selector-7 .col-1-badge { color: var(--white-000) }
.section-selector-7 .col-1-badge { background-color: var(--cyan-700) }
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:link,
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:visited { color: #07a3a3 }
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:focus,
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:hover,
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:active { color: var(--cyan-700) }
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:focus,
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:hover,
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:active { color: var(--cyan-600) }
.section-selector-7 div[class^='col-'] a[class^='col-']:link, .section-selector-6 div[class^='col-'] a[class^='col-']:visited { text-decoration-color: var(--cyan-600) }
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:focus,
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:hover,
.section-selector-7 .flex-cols-3 .col-3 a.col-3-h3:active { color: var(--green-200) }
.section-selector-7 div[class^='col-'] a[class^='col-']:focus, .section-selector-6 div[class^='col-'] a[class^='col-']:hover, .section-selector-6 div[class^='col-'] a[class^='col-']:active { text-decoration-color: var(--green-200) }
.section-selector-7.theme-dark .cols-background .col-3 { background-color: var(--trend-800) }
.section-selector-7.theme-dark .col-3 { border-color: var(--cyan-700) }
.section-selector-7.theme-dark .cols-shadows .col-3 { box-shadow: rgba(255, 255, 255, 0.2) 14px 14px 14px 0px}
.section-selector-7 .col-3 .badge { color: var(--cyan-500) }
.section-selector-7 .col-3 .badge { background-color: var(--trend-800) }
